@font-face {
    font-family: 'SecularOne';
    src: url('SecularOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lexend';
    src: url('Lexend-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Silkscreen';
    src: url('Silkscreen-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aboreto';
    src: url('Aboreto/Aboreto-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.logomarpa {
    height: 50px;
    margin-left: 23px;
}

.disclaimer {
    padding-bottom: 15px;
}

#comment {
    padding-bottom: 15px;
}

body {
    font-family: 'Lexend';
    padding: 0;
    margin: 0;
    color: #60431e;
}

.container {
    /* max-width: 1300px; */
    background: #fff2d8;
    /* padding: 10px 20px 20px 20px;
    margin: auto;
    text-align: center; */
    border-radius: 7px;
    box-shadow: 6px 9px 30px 0px rgba(0, 0, 0, 0.93);
    -webkit-box-shadow: 6px 9px 30px 0px rgba(0, 0, 0, 0.93);
    -moz-box-shadow: 6px 9px 30px 0px rgba(0, 0, 0, 0.93);

    display: grid;
}

.channel_button {
    background-color: #ffe4ad;
}

.content {
    padding: 20px;

}

.topTitleCtn {
    width: 100%;
    background-color: #f5ba42;
}

.teachingInfo {
    padding-bottom: 15px;
}

.teachingInfo div {
    text-align: center;
}

#teachingName {
    font-style: italic;
}

#teachingLama {
    padding-bottom: 7px;
}

#channels {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 17px;
}

.status-indicator {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    /* background-color: red; */
    display: inline-block;
    margin: 0px 0px 0px 10px;
}

.status-active {
    border: solid 1px #808080dd;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cdeb8e+0,a5c956+100;Green+3D+%232 */
    background: #cdeb8e;
    /* Old browsers */
    background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cdeb8e 0%, #a5c956 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cdeb8e', endColorstr='#a5c956', GradientType=0);
    /* IE6-9 */
}

.status-inactive {
    border: solid 1px #808080dd;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ef7540+1,ed6436+100 */
    background: #ef7540;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ef7540 1%, #ed6436 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ef7540 1%, #ed6436 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ef7540 1%, #ed6436 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef7540', endColorstr='#ed6436', GradientType=0);
    /* IE6-9 */

}


#currentChannel {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 20px;
}

.channel_button {
    display: grid;
    grid-template-columns:  1fr;
    font-family: 'Lexend';
    font-size: 17px;
    font-weight: 400;
    padding: 17px;
    border: solid 1px #333;
    color: #333333;
    border-radius: 6px;
}

.channel_button div {
    text-align: center;
}

.channel_button .channel_name {
    text-align: center;
    display: flex; /* Added */
    align-items: center; /* Added */
    justify-content: center;
}

.channel_button .channel_lang {
    font-style: italic;
    font-size: 14px;
}

#audioplayer {
    border-radius: 6px;
    background: #ffe4ae;
    border: solid 1px #333;

}

#logwindowbutton {
    display: none;
}

/* #channels #channel_1 {
    background-color: #d09191;
}

#channels #channel_2 {
    background-color: #5d93cc;
}
#channels #channel_3 {
    background-color: #ddd7a8;
}
#channels #channel_4 {
    background-color: #b8c89e;
} */

div#viewcontainer {
    display: grid;
    justify-content: center;
    padding-top: 20px;
}

div.errormessage {
    position: absolute;
    display: none;
    width: 200pt;
    height: 150pt;
    left: 0pt;
    top: 0pt;
    font-size: 20pt;
    font-weight: 200;
    color: #EE0000;
    background-color: #000000;
}

div#chromesuggestion {
    position: absolute;
    display: none;
    width: 200pt;
    height: 150pt;
    left: 0pt;
    top: 0pt;
    font-size: 15pt;
    font-weight: 200;
    color: #EEEEEE;
    background-color: #000000;
}

div#chromesuggestion a,
span {
    text-decoration: none;
    color: #888888;
}

div#lightoff {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0pt;
    top: 0pt;
    z-index: 9999999;
    background: black;
    opacity: 0.9;
    cursor: not-allowed;
}

div#lightbutton {
    background-image: url(../img/light.svg);
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    position: absolute;
    width: 50pt;
    height: 50pt;
    right: 0;
    top: 0;
    z-index: 99999999;
    cursor: pointer;
}

/* Popup */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  

@media (max-width: 500px) {

    .container {
        padding: 0;
    }

    .topTitleCtn {
        display: grid;
        /* grid-template-columns: 55px 1fr; */
        width: 100%;
        padding: 7px 22px 7px 3px;
        color: #656050;
        background: #f5ba42;
    }

    .logomarpa {
        height: 42px;
        margin-left: 7px;
    }

    .topTitle {
        font-family: 'Aboreto';
        /* padding:10px; */
    }

    #channels {
        grid-template-columns: 1fr 1fr;
        row-gap: 17px;
        column-gap: 17px;
        /* padding: 20px; */
    }
}