################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/server/src/node_modules

.DS_Store
srts/server/node_modules/.DS_Store
srts/server/.DS_Store
srts/server/.DS_Store

admin/profiles/*
