################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/server/src/node_modules

.DS_Store
admin/export/*.mp3
admin/settings.json